body {
    margin: 0; 
    font-family: 'Roboto Regular', arial;
    font-family: 'Roboto Thin', arial;
    font-family: 'Roboto Light', arial;
    font-family: 'Roboto Black', arial;
    font-size: 14px;                                 
    color: #ffffff;
}

*,
*:before,
*:after  {                                            
	box-sizing: border-box;                
}  

/* ============== Container ============= */          

.container {                                           
	width: 100%;                          
	max-width: 1595px;                     
	margin: 0 auto;                         
}   

/* ============== Header ============= */          

.header {                                         
	padding: 35px 0;         
}           

.header__inner {
	display: flex;
	justify-content: space-between;
}         